Требования к ПО (вращающиеся катушки)

Интерфейс:
Начальная идентификация в отдельном поле (окне, вкладке), другие вкладки без заполнение ИД данных недоступны.
Далее в основном рабочем окне доступен выбор режима работы (для режимов 1 и 2 необходимо ввести количество повторений и длительность паузы).
В зоне вывода результатов должны быть отдельные текстовые области для вывода отношения амплитуд неосновных гармоник поля к основной, смещения магнитной оси (delta X, delta Y), угла поворота α.

Начальная идентификация:
	ФИО оператора
	Дата
	Тип магнита (квадруполь, секступоль, октуполь, по этому идентификатору определяет тип катушки, коэффициенты чувствительности)
	Серийный номер магнита.

Режимы работы:
1.	Измерение при фиксированном поле (серия отдельных измерений и усреднение по серии)
2.	Оценка временной стабильности (несколько отдельных измерений с заданной периодичностью).
3.	Измерения при изменении тока в обмотках (серия измерений с разными настройками тока магнита)
4.	Остаточные гармоники (аналогично режиму 1, на отключенном магните)

Алгоритм измерения (снятие сигнала, обработка) одинаковый для всех режимов.
Режим 1 - Измерение при фиксированном поле
Перед запуском измерения оператор определяет и вводит величину паузы между запусками измерений t и количество измерений n. Выполняется серия измерений, первое запускается по команде оператора после подачи тока на обмотки магнита и выхода магнита на режим. 
Данные одного измерения сохраняются (6-10 периодов). Через t с после первого измерения запускается второе, данные сохраняются. Так повторяется еще n-2 раза. Далее проводится обработка по n отдельным датафреймам и выводится результат каждого и усредненный. Усредненные результаты записываются в файл. 
Файл также содержит данные начальной идентификации, наименование режима работы и отметку времени записи данных.

Режим 2 - Оценка временной стабильности. 
Перед запуском измерения оператор определяет и вводит периодичность запуска измерений t и количество измерений n. Первое измерение запускается по команде оператора после подачи тока на обмотки магнита и выхода магнита на режим. 
Данные каждого измерения серии сохраняются в отдельные файлы (6-10 периодов). Измерение далее повторяется n-1 раз с паузой t с. Далее проводится обработка по каждому датафрейму, выводится сводный результат каждого измерения серии, все результаты записываются в один файл. 
Файл также содержит данные начальной идентификации, наименование режима работы и отметку времени записи данных.

Режим 3 - Измерения при изменении тока в обмотках
Выполняется серия измерений, каждое измерение запускается по команде оператора после подачи или изменения тока на обмотках магнита и выхода магнита на режим. 
Данные каждого измерения сохраняются (6-10 периодов). Далее проводится обработка по каждому  датафрейму и выводятся результаты, которые параллельно записываются в файл с маркировкой номера измерения (для идентификации соответствия включению магнита). 
Файл также содержит данные начальной идентификации, наименование режима работы и отметку времени записи данных.
Режим 4 - Остаточные гармоники
Процедура аналогична режиму 1. Разница в идентификаторе режима.

